<!-- Page Footer -->
<div class="hk-footer">
    <footer class="container-xxl footer">
        <div class="row">
            <div class="col-xl-8">
                <p class="footer-text"><span class="copy-text">@ 2023 All rights reserved.</span></p>
            </div>
            <div class="col-xl-4">
                <p class="footer-text" style=" margin-left: 150px;">Concept and Design by <a href="http://app360.lk/" target="_blank" style="color: rgb(169, 185, 169);">APP360</a><p>
            </div>
        </div>
    </footer>
</div>
<!-- / Page Footer -->